<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>공차_kiosk_administrator_menu_list</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>

        <nav class="nav_left">
            <div class="logo">
                <img src="../../static/img/공차.png" alt="logo">
            </div>
            <ul>
                <li><a href="/manager/menu/list">메뉴관리</a></li>
                <li><a href="/manager/menu/list">메뉴현황</a></li>
                <li><a href="/manager/menu/change">메뉴등록/수정</a></li>
                <li><a href="/manager/topping/change">토핑등록/수정</a></li>
            </ul>
        </nav>

        <nav class="nav border d-flex nav_top">
            <a class="nav-link active" href="/manager/menu/list">메뉴관리</a>
            <a class="nav-link" href="/manager/payment/list">매출관리</a>
        </nav>
        <button type="button" class="btn btn-light logout"><a href="/manager/login">로그아웃</a></button>
        <h2>메뉴 현황</h2>
        <!--본문-->
        <div class="container">
          <div style="width:100%; height:400px; overflow:auto;">
            <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">순번</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상품명</th>
                    <th scope="col">금액</th>
                  </tr>
                </thead>
                <tbody id="menu_tbody">
                </tbody>
              </table>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script charset="UTF-8">
  //DB에서 메뉴정보/카테고리 정보 불러오기
  var menu_data = new Array();
          var category_data = new Array();
          const all_menu = JSON.parse('{{ all_menu |default("")| tojson }}');
          for (var property in all_menu) {
                                          menu_data.push(all_menu[property]);             
                                        }
            console.log(menu_data);



          
        </script>

        <script src="{{url_for('static', filename='js/menu_list.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>