<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴선택_과일믹스</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <!--Category Selection-->
    <div class="cotainer mb-5 mt-3" style="font-size: 25px;">
        <div class="row row-cols-5 mt-2" style="text-align: center;">
        <!-- 해당 카테고리명만 컬러 적용. -->
           <ul><a href="/client/menu/layout" class="other_menu">시즌메뉴</a></ul>
           <ul><a href ="/client/menu/best" style="color: black; text-decoration: none;">BEST</a></ul>
           <!--ul 태그 내에 a태그로 각 html페이지 연결하기. 위 참조.-->
           <ul><a href ="/client/menu/tea" class="other_menu">티</a></ul>
           <ul><a href ="/client/menu/milktea" class="other_menu">밀크티</a></ul>
           <ul><a href ="/client/menu/brownsugar" class="other_menu">브라운슈가</a></ul>
           <ul><a href ="#" style="color: #c30e2e; font-weight: bold;" class="other_menu">과일믹스</a></ul>
           <ul><a href ="/client/menu/smoothee" class="other_menu">스무디</a></ul>
           <ul><a href ="/client/menu/coffee" class="other_menu">커피</a></ul>
           <ul><a href ="/client/menu/snack" class="other_menu">스낵류</a></ul>
        </div>
    </div>

    <!--메뉴 이미지 선택 가능 영역-->
    <!-- 1줄당 음료 3개씩 배열. 1행 3열 형식의 표로 구성-->
    <div class="container-fluid  ml-3 mt-3">
        <div class=row>
            <div class="col-sm-9">
                <div class="row">
                    <!-- 첫 번째 아이템 margin left:3 -->
                    <div class="col border ml-3">
                        <p class="size" style = "color: #c30e2e;">Large</p>
                        <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/0k72nrBVX9gDTxoL_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">자몽 그린티(L)</p>
                        <p class="per_price">4300</p>
                    </div>
                    <!-- 두 번째 아이템부터는 margin left, right 각각 3씩 부여-->
                    <div class="col border ml-3 mr-3">
                        <p style = "color: #c30e2e;">Jumbo</p>
                       <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/0k72nrBVX9gDTxoL_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">자몽 그린티(J)</p>
                        <p class="per_price">5400</p>
                    </div>
                    <div class="col border ml-3 mr-3">
                        <p style = "color: #c30e2e;">Large</p>
                        <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/V4PyBAYEGpu9rsZ8_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">청포도 그린티(L)</p>
                        <p class="per_price">4300</p>
                    </div>
                </div>
                <!--1줄 끝-->


                <div class="row">
                    <!-- 첫 번째 아이템 margin left:3 -->
                    <div class="col border ml-3">
                        <p class="size" style = "color: #c30e2e;">Jumbo</p>
                        <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/V4PyBAYEGpu9rsZ8_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">청포도 그린티(J)</p>
                        <p class="per_price">5400</p>
                    </div>
                    <!-- 두 번째 아이템부터는 margin left, right 각각 3씩 부여-->
                    <div class="col border ml-3 mr-3">
                        <p style = "color: #c30e2e;">Large</p>
                       <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/E6Pnz24Vmvk0RH37_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">패션후르츠 히비스커스(L)</p>
                        <p class="per_price">4300</p>
                    </div>
                    <div class="col border ml-3 mr-3">
                        <p style = "color: #c30e2e;">Jumbo</p>
                        <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/E6Pnz24Vmvk0RH37_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">패션후르츠 히비스커스(J)</p>
                        <p class="per_price">5400</p>
                    </div>
                </div>
                <!--2줄 끝-->


                <div class="row">
                    <!-- 첫 번째 아이템 margin left:3 -->
                    <div class="col border ml-3">
                        <p class="size" style = "color: #c30e2e;">Large</p>
                        <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/a3UTJI81jwvDEmHd_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">망고주스(L)</p>
                        <p class="per_price">4600</p>
                    </div>
                    <!-- 두 번째 아이템부터는 margin left, right 각각 3씩 부여-->
                    <div class="col border ml-3 mr-3">
                        <p style = "color: #c30e2e;">Jumbo</p>
                       <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/a3UTJI81jwvDEmHd_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">망고주스(J)</p>
                        <p class="per_price">5700</p>
                    </div>
                    <div class="col border ml-3 mr-3">
                        <p style = "color: #c30e2e;">Large</p>
                        <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/p2nRtjcBCXIrw0Vs_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">자몽주스(L)</p>
                        <p class="per_price">4600</p>
                    </div>
                </div>
                <!--3줄 끝-->

                <div class="row">
                    <!-- 첫 번째 아이템 margin left:3 -->
                    <div class="col border ml-3">
                        <p class="size" style = "color: #c30e2e;">Jumbo</p>
                        <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/p2nRtjcBCXIrw0Vs_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">자몽주스(J)</p>
                        <p class="per_price">5700</p>
                    </div>
                    <!-- 두 번째 아이템부터는 margin left, right 각각 3씩 부여-->
                    <div class="col border ml-3 mr-3">
                        <p style = "color: #c30e2e;">Large</p>
                       <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/sUoMdlGknZ8ufxR9_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">망고 요구르트(L)</p>
                        <p class="per_price">5000</p>
                    </div>
                    <div class="col border ml-3 mr-3">
                        <p style = "color: #c30e2e;">Jumbo</p>
                        <img class="product_img" src="http://www.gong-cha.co.kr/uploads/product/20200916/sUoMdlGknZ8ufxR9_20200916.png" alt="" width="250px" height="280px">
                        <p class="product">망고 요구르트(J)</p>
                        <p class="per_price">6100</p>
                    </div>
                </div>
                <!--4줄 끝-->
            </div> 

            <!-- 우측 장바구니바 영역 -->
            <div class="col-sm-3">
                <div class="row">
                    <div class="col"></div>
                    <div class="col" style="background-color: #c30e2e;" >
                        <i class="fa fa-shopping-basket"></i>
                        <p class="order_bar">장바구니</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col" style="background-color: #c30e2e;" >
                        <button id="remove_all" class="btn border-white" onclick="location.href='/client/menu/layout'" style="font-size: x-large; color: white; text-align:center; margin-top:60px; margin-left: 20px; margin-bottom: 20px;">전체 삭제
                        </button>
                        
                    </div>
                      
                <!-- 오른쪽 장바구니 바 영역
                 첫 번째 col: 그냥 빈칸 처리, 두 번째 col: 메뉴 바 구현-->    
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-lg" style="background-color: #c30e2e;" >
                        <div class="container-sm mr-3" style="background-color: #6D000E; margin-right: 20px; margin-top:20px; margin-bottom: 20px; border-radius: 10%;">
                            <i class="fa fa-plus-square" id="square"></i>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col">
                        
                    </div>
                    <div class="col-lg" style="background-color: #c30e2e;" >
                        <div class="container-sm mr-3">
                            <i class="fa fa-plus-square" id="square"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        
                    </div>
                    <div class="col-lg" style="background-color: #c30e2e;" >
                        <div class="container-sm mr-3" >
                            <i class="fa fa-plus-square" id="square"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col"></div>
                    <div class="col" style="background-color: #333333;">
                        <a href="/client/order/option"><i class="fa fa-credit-card"></i></a>
                        <p class="order_bar">결제하기</p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>    

        <script>
            //클릭한 메뉴 정보 저장하는 localstorage함수
            var repeatlist = document.getElementsByClassName('product_img');
            
            document.getElementById('remove_all').addEventListener('click',function(){
                localStorage.clear();
            });
            
            var orderlist = [];
            for(let i=0; i<repeatlist.length; i++){
                repeatlist[i].addEventListener('click',function(){
                    var orderName = document.getElementsByClassName('product')[i].innerHTML;
                    var orderPrice = document.getElementsByClassName('per_price')[i].innerHTML;
                    var orderImg = document.getElementsByClassName("product_img")[i].attributes[1].value;
                    localStorage.setItem('orderName', orderName);
                    localStorage.setItem('orderPrice',orderPrice);
                    localStorage.setItem('orderImg',orderImg);
                    document.getElementsByClassName('container-sm')[0].innerHTML = '<img src="'+localStorage.getItem('orderImg')+'"width="100px" height="120px">';
                    
                    orderlist = {orderName,orderPrice,orderImg};
                    localStorage.setItem('orderlist',orderlist);
                    
                })
                
            };
            
           
    
        </script>
</body>         
</html>

            
     
