<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>결제 성공</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/Payment.css">
    </head>

    <body>
        <div class="card mx-auto text-center" style="width:600px; margin-top: 30%;">
            <!-- gong_cha.jpg 삽입 필요! -->
            <img class="card-img-top" src="../static/gong_cha.jpg" alt="Gongcha logo">
            <div class="card-body">
                <p class="card-title" style="font-weight: bold; font-size: 48px;">결제 성공!</p>
                <p class="card-text" style="font-weight: bold; font-size: 32px;">
                    총 <span id="paid">ㅇㅇ</span> 원을 결제하셨습니다.<br><span id="to_pay">ㅇㅇ</span> 원 남았습니다.
                </p>
            </div>
        </div>

        <!-- 해당 모달의 경우 totol_price =< discount_price + Paid_Price인 경우
            일정 시간이 지난후 자동으로 뜨도록 JS상에서의 구현
            해당 경우가 아닌 경우 결제창으로 돌아감 -->
        <div class="modal fade" id="Stamp_confirm" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">공차 스탬프</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="font-size: 48px;">공차 스탬프를<br>적립하시겠습니까?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="stamp_scan.html" class="btn btn-secondary" style="background-color:#C30E2E;">예</a>
                        <a href="print_order.html" class="btn btn-secondary" style="background-color: #6D000E;">아니오</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="../static/Payment.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                var paid_price = feecalc()[0];
                var pay_left = feecalc()[1];
                document.getElementById('paid').innerText = paid_price;
                document.getElementById('to_pay').innerText = pay_left;
                
                if (pay_left <= 0) {
                    setTimeout(() => {$("#Stamp_confirm").modal();}, 5000);
                } else {
                    setTimeout(() => {location.href = './payment_selection.html'}, 5000);
                };
            });

            function feecalc() {
                // orderSumPrice * nCalculation의 결과가 paid_price의 값!
                var nCalculation = 0;
                var paid;
                var to_pay;

                // Payment_type은 읽은 후 95행에서 값 삭제
                var paytype = localStorage.getItem('Payment_type');
                var order_Sum = parseInt(localStorage.getItem('orderSumPrice'));

                switch (paytype) {
                    // 공차 쿠폰의 경우 추가적인 연산이 필요!
                    // 일단은 비워둠
                    case '공차 쿠폰':
                        break;

                    case '통신사 할인':
                        nCalculation = 0.1;
                        paid = (order_Sum * nCalculation);
                        to_pay = (order_Sum * (1-nCalculation));
                        localStorage.setItem('orderSumPrice', to_pay);
                        break;

                    default:
                        nCalculation = 1;
                        paid = (order_Sum * nCalculation);
                        to_pay = (order_Sum * (1-nCalculation));
                        localStorage.setItem('orderSumPrice', to_pay);
                        break;
                };

                localStorage.removeItem('Payment_type');
                return [paid, to_pay];
            };
        </script>
    </body>
</html>